/* user-list.component.scss */
.table-controls {
  display: flex;
  justify-content: flex-end; /* Align the search bar to the right */
  margin-bottom: 8px; /* Add spacing between the search bar and the table */
}

.add-user-btn {
  margin-right: 16px;
  align-self: center;
}

.search-bar {
  width: 300px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 8px;
}

.highlight-new-updated {
  background-color: lightcyan;
  color: darkcyan;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}


